<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>

    <body>
        {{> header}}
        <p>Some text here that fills a little space and takes up room so 
            that it looks formatted</p>

        {{> footer}}
    </body>

</html>